<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="css/index.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet" />
        <link rel="icon" href="assets/logo.ico" />

        <title>Weatherly</title>
    </head>

    <body onload="onstart()">
        <!-- <img src="assets/background.png" class="background" alt="">
        <div class="overlay" id="ov">
            <h1>Weatherly App</h1> 
        </div>-->

        <div class="overlayLister">
            <button class="hamburgerlogo head jugaad-button" onclick="onk()">asdf</button>
            <!-- <img src="assets/x.png" onclick="offk()" id="cross" alt="" /> -->
            <div class="overlayLister2">
                <ul id="text">
                    <li>
                        <h1><a ondblclick="callfunction()">Login</a></h1>
                    </li>
                    <li>
                        <h1><a href="index.html">Home</a></h1>
                    </li>
                    <li>
                        <h1><a href="iframe.html">Weather Map</a></h1>
                    </li>
                    <li>
                        <h1><a href="about.html">About Project</a></h1>
                    </li>
                    <li>
                        <h1><a href="working.html">How it works</a></h1>
                    </li>
                </ul>
            </div>
        </div>

        <header>
            <div class="head-div">
                <div>
                    <a class="logo-button" href="index.html">
                        <img class="logo" src="assets/logo.png" alt="" />
                        <p class="logoname">Weatherly</p>
                    </a>
                </div>

                <div>
                    <%= name %>
                    <%= email %>
                    <img
                        src="assets/hamburger.png"
                        align="right"
                        class="hamburgerlogo head"
                        id="hamburger"
                        onclick="onk()"
                    />
                </div>
            </div>
        </header>

        <main>
            <div class="cont" align="center">
                <div class="input">
                    <!-- <form action="location-input"> -->
                    <form action="/api/storeCity" method="post">
                        <input class="textinp textinp-width" type="text" placeholder="  Enter Location..." name="city" />
                        <button class="submit" onclick="exe()">
                    </form>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="22"
                            height="22"
                            fill="Black"
                            class="bi bi-search"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                            />
                        </svg>
                    </button>
                    <!-- </form> -->
                    <section class="location">
                        <div class="city">Delhi, IN</div>
                        <div class="date">Tuesday 28 September 2021</div>
                    </section>
                    <div class="current">
                        <div class="temp">29<span>°c</span></div>
                        <div class="weather">Sunny</div>
                        <div class="hi-low">29°c / 29°c</div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="footer">
                <p class="made">Made with ❤ by Dhruv, Kushagra and Prashant</p>
            </div>
        </footer>

        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        ></script>
        <script src="https://maps.google.com/maps/api/js?key=AIzaSyBA8fXBQu4OJaluXM2xidnZVRHZ1jDRzXw"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                var $winwidth = $(window).width();
                $(".background").attr({
                    width: $winwidth,
                });
                $(window).bind("resize", function () {
                    var $winwidth = $(window).width();
                    $(".background").attr({
                        width: $winwidth,
                    });
                });
            });

            function on() {
                document.getElementById("overlay").style.display = "block";
            }

            function off() {
                document.getElementById("overlay").style.display = "none";
            }
        </script>
        <script>
            /*let spinnerWrapper = document.getElementById("ov");

            window.addEventListener("load", function () {
                setTimeout(function () {
                    spinnerWrapper.style.display = "none";
                }, 2000);
            });*/
        </script>
        <script>
            const api = {
                key: "cd3c097765ba92903ec783b6cf5bef86",
                base: "https://api.openweathermap.org/data/2.5/",
            };

            const searchbox = document.querySelector(".textinp");
            searchbox.addEventListener("keypress", setQuery);
            document.querySelector(".submit").addEventListener("onclick", setQuery);

            function onstart() {
                console.log(searchbox.value)
                getResults('Delhi');
            }

            function exe() {
                console.log(searchbox.value)
                getResults(searchbox.value);
            }

            function setQuery(evt) {
                if (evt.keyCode == 13) {
                    getResults(searchbox.value);
                    console.log(searchbox.value)
                }
            }

            function getResults(query) {
                fetch(`${api.base}weather?q=${query}&units=metric&APPID=${api.key}`)
                    .then((weather) => {
                        return weather.json();
                    })
                    .then(displayResults);
            }
            function displayResults(weather) {
                let city = document.querySelector(".location .city");
                city.innerText = `${weather.name}, ${weather.sys.country}`;

                let now = new Date();
                let date = document.querySelector(".location .date");
                date.innerText = dateBuilder(now);

                let temp = document.querySelector(".current .temp");
                temp.innerHTML = `${Math.round(weather.main.temp)}<span>°c</span>`;

                let weather_el = document.querySelector(".current .weather");
                weather_el.innerText = weather.weather[0].main;

                let hilow = document.querySelector(".hi-low");
                hilow.innerText = `${Math.round(weather.main.temp_min)}°c / ${Math.round(weather.main.temp_max)}°c`;
            }

            /*start of geolocation api*/

            function getLocation() {
                if (navigator.geolocation) {
                    var x=navigator.geolocation.getCurrentPosition(showPosition);
                    console.log(x);
                    return x;

                }
            }

            function showPosition(position) {
                lat = position.coords.latitude;
                lon = position.coords.longitude;
                return displayCity(lat, lon);
            }

            function displayCity(latitude, longitude) {
                var geocoder;
                geocoder = new google.maps.Geocoder();
                var latlng = new google.maps.LatLng(latitude, longitude);

                geocoder.geocode({ latLng: latlng }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (results[0]) {
                            var add = results[0].formatted_address;
                            var value = add.split(",");
                            city = value[count - 3];
                            return city;
                        }
                    }
                });
            }

            /*end of geolocation api*/


            function dateBuilder(d) {
                let months = [
                    "January",
                    "February",
                    "March",
                    "April",
                    "May",
                    "June",
                    "July",
                    "August",
                    "September",
                    "October",
                    "November",
                    "December",
                ];
                let days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

                let day = days[d.getDay()];
                let date = d.getDate();
                let month = months[d.getMonth()];
                let year = d.getFullYear();

                return `${day} ${date} ${month} ${year}`;
            }

            function callfunction()
            {
                const qq=`<form action="/" method="post">
                            <input type="email" class="email" name="uid" placeholder="email">
                            <input type="password" class="pass" name="pass" placeholder="pass">
                            <button type="submit" class"submit" name="submit">Submit</button>
                          </form>`
                document.getElementsByClassName("overlayLister2")[0].innerHTML=qq;
            }
        </script>
        <script src="js/hamburger.js"></script>
    </body>
</html>
