<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="css/common.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet" />
        <link rel="icon" href="assets/logo.ico" />

        <title>Weatherly</title>
    </head>
    <body>

        <div class="overlayLister">
            <button class="hamburgerlogo head jugaad-button" onclick="onk()">asdf</button>
            <!-- <img src="assets/x.png" onclick="offk()" id="cross" alt="" /> -->
            <div class="overlayLister2">
                <ul id="text">
                    <li>
                        <h1><a href="login.html">Login</a></h1>
                    </li>
                    <li>
                        <h1><a href="index.html">Home</a></h1>
                    </li>
                    <li>
                        <h1><a href="iframe.html">Weather Map</a></h1>
                    </li>
                    <li>
                        <h1><a href="about.html">About Project</a></h1>
                    </li>
                    <li>
                        <h1><a href="working.html">How it works</a></h1>
                    </li>
                </ul>
            </div>
        </div>

        <header>
            <div class="head-div">
                <div>
                    <a class="logo-button" href="index.html">
                        <img class="logo" src="assets/logo.png" alt="" />
                        <p class="logonames">Weatherly</p>
                    </a>
                </div>

                <div>
                    <img
                        src="assets/hamburger.png"
                        align="right"
                        class="hamburgerlogo head"
                        id="hamburger"
                        onclick="onk()"
                    />
                </div>
            </div>
        </header>
        <footer>
            <div class="footer">
                <p class="made">Made with ❤ by Dhruv, Kushagra and Prashant</p>
            </div>
        </footer>
        <script src="js/hamburger.js"></script>
    </body>