<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="css/working.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet" />

        <link rel="icon" href="assets/logo.ico" />

        <link
            rel="stylesheet"
            href=" https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.1/styles/atom-one-light.min.css"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
        <script>
            hljs.highlightAll();
        </script>

        <title>Weatherly</title>
    </head>

    <body>
        <header>
            <div class="overlayLister">
                <button class="hamburgerlogo head jugaad-button" onclick="onk()">asdf</button>
                <!-- <img src="assets/x.png" onclick="offk()" id="cross" alt="" /> -->
                <div class="overlayLister2">
                <ul id="text">
                    <li>
                        <h1><a href="\login">Login</a></h1>
                    </li>
                    <li>
                        <h1><a href="\profile">Home</a></h1>
                    </li>
                    <li>
                        <h1><a href="iframe.html">Weather Map</a></h1>
                    </li>
                    <li>
                        <h1><a href="history.html">History</a></h1>
                    </li>
                    <li>
                        <h1><a href="about.html">About Project</a></h1>
                    </li>
                    <li>
                        <h1><a href="working.html">How it works</a></h1>
                    </li>
                </ul>
            </div>
        </div>

            <div class="head-div">
                <div>
                    <a class="logo-button" href="index.html">
                        <img class="logo" src="assets/logo.png" alt="" />
                        <p class="logonames">Weatherly</p>
                    </a>
                </div>
                <div>
                    <img
                        src="assets/hamburger.png"
                        align="right"
                        class="hamburgerlogo head"
                        id="hamburger"
                        onclick="onk()"
                    />
                </div>
            </div>
        </header>

        <main class="working-cont">
            <p class="textinp opacity-hack">
                The Weatherly app is built on the API provided by
                <span class="monospace-text">openweathermap</span>.
            </p>

            <div>
                <pre class="working-code">
                    <code class="language-js">
const api = {
    key: "&lt;key&gt;",
    base: "https://api.openweathermap.org/data/2.5/",
};
                    </code>
                </pre>
            </div>

            <p class="textinp opacity-hack">
                It uses the key to asynchronously call the API, accepting the result as a
                <span class="monospace-text">JSON</span> object. Then, it calls the
                <span class="monospace-text">displayResults</span> function to show the details in the page.
            </p>

            <div>
                <pre class="working-code">
                    <code class="language-js">
function getResults(query) {
    fetch(`${api.base}weather?q=${query}&units=metric&APPID=${api.key}`)
        .then((weather) => {
            return weather.json();
        })
        .then(displayResults);
}
                    </code>
                </pre>
            </div>

            <p class="textinp opacity-hack">
                The <span class="monospace-text">displayResults</span> function queries the document to get the DOM
                elements whose values are to be modified. Then, it extracts the values from the JSON returned by the API
                and stores the results.
            </p>

            <div>
                <pre class="working-code">
                    <code class="language-js">
function displayResults(weather) {
    let city = document.querySelector(".location .city");
    city.innerText = `${weather.name}, ${weather.sys.country}`;

    let now = new Date();
    let date = document.querySelector(".location .date");
    date.innerText = dateBuilder(now);

    let temp = document.querySelector(".current .temp");
    temp.innerHTML = `${Math.round(weather.main.temp)}<span>°c</span>`;

    let weather_el = document.querySelector(".current .weather");
    weather_el.innerText = weather.weather[0].main;

    let hilow = document.querySelector(".hi-low");
    hilow.innerText = `${Math.round(weather.main.temp_min)}°c / ${Math.round(weather.main.temp_max)}°c`;
}
                    </code>
                </pre>
            </div>

        </main>

        <footer>
            <div class="footer">
                <p class="made">Made with ❤ by Dhruv, Kushagra and Prashant</p>
            </div>
        </footer>

        <script src="js/hamburger.js"></script>
    </body>
</html>
