@import "common.css";

.submit {
    border-radius: 50px;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    border: none;
}

.textinp:hover,
.textinp:focus,
.submit:hover,
.submit::selection,
.submit:focus {
    opacity: 80%;
    outline: none;
}

.input {
    margin-top: 10%;
    /* margin-left:35% ; */
    align-items: center;
}

.location .city {
    color: var(--blue);
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 45px;
    font-family: "Lato", sans-serif;
}

.location .date {
    color: var(--bright-blue);
    font-size: 23px;
    font-family: "Lato", sans-serif;
}

.current .temp {
    color: var(--text);
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    font-family: "Lato", sans-serif;
}

.current .temp span {
    font-weight: 500;
    font-family: "Lato", sans-serif;
}

.current .weather {
    color: var(--blue);
    font-size: 35px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    font-family: "Lato", sans-serif;
}

.current .hi-low {
    color: var(--bright-blue);
    font-size: 26px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    margin-bottom: 92.1px;
}

svg{
    cursor: pointer;
}

@media screen and (max-width: 664px) {
    .textinp {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 345px) {
    .head {
        height: 50px;
        font-size: 1.2rem;
        padding-left: 0;
    }
    .logonames {
        vertical-align: 4mm;
    }
    .textinp {
        font-size: 0.75rem;
    }
    .submit {
        font-size: 0.75rem;
    }
}
